h1 {
  font-weight: bold;
  padding: 10px 0;
}
.rc--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rc--flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column
}
.rc--flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center
}
.rc--flex-align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
      align-items: flex-end;
}
.rc--text-center {
  text-align: center;
}
.rc--select-container {
  margin: 0 20px;
}
.rc--select {
  background-color: #d6d4d4;
  border: 1px solid #a79d9d;

  padding: 6px 40px;
}
.rc--input {
  text-align: right;
}
label,
.rc--result,
.rc--bitcoin-value {
  font-size: 18px;
}
.rc--result {
  font-weight: bold;
  margin: 0 20px;
}
.rc--bitcoin-value {
  font-weight: bold;
}
.rc--currency-info {
  font-size: 12px;
  padding: 5px 0;
}
.rc--select-header {
  color: #673ab7;
  font-size: 12px;
}
.rc--bitcoin-container {
  margin: 10px 0;
}
.rc--bitcoinText {
  cursor: pointer;
}
.rc--refresh-button {
  background: transparent;
  border: none;
  outline: none;
  color: #004cff;
  font-style: italic;
}
.rc--bitcoin-info {
  font-size: 12px;
}